//------------------------------------------------------------------------------
// _base.scss
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Dimensions

$nav-height: 120px;
$header-height-narrow: 400px;

//------------------------------------------------------------------------------
// Fonts

@mixin font-main($size) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
}

@mixin font-special($size) {
  font-family: 'Bungee', cursive;
  font-size: $size;
}
