//------------------------------------------------------------------------------
// header.scss
//------------------------------------------------------------------------------

@use 'base';
@use 'colors';

body > header {
  //----------------------------------------------------------------------------
  // Container properties

  width: 100%;
  background-color: colors.$tertiary;
  background-image: url('../images/cross-scratches.png');
  display: flex;
  flex-direction: column;
  align-items: center;

  //----------------------------------------------------------------------------
  // Name

  h2 {
    font-weight: normal;
    margin-bottom: 0;
  }

  //----------------------------------------------------------------------------
  // Avatar

  img {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    z-index: 2;
  }
}

//------------------------------------------------------------------------------
// Responsive layout: Using CSS grid

@media only screen and (max-width: 768px) {
  body > header {
    grid-row: 1;
    height: base.$header-height-narrow;
    justify-content: center;
    
    img {
      margin-top: 60px;
    }
  }
}

@media only screen and (min-width: 768px) {
  body > header {
    grid-row: 2;
    grid-column: 1;
    height: calc(100vh - #{base.$nav-height});
    padding-top: 2em;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  body > header {
    grid-column: 2;
  }
}
