//------------------------------------------------------------------------------
// tweet.scss
//------------------------------------------------------------------------------

@use 'colors';

.tweet {
  //----------------------------------------------------------------------------
  // Container properties

  border: 2px solid colors.$dark;
  padding: 0.5em;
  margin: 1em 0 0 0;

  &:hover {
    box-shadow: 3px 3px 3px colors.$highlight;
  }

  //----------------------------------------------------------------------------
  // Tweet header

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    img {
      margin-right: 0.75em;
    }

    :last-child {
      color: colors.$muted;
      font-weight: 600;
      font-size: 22px;
      margin-left: auto;
    }
  }

  //----------------------------------------------------------------------------
  // Tweet content

  > div {
    border-color: colors.$dark;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-bottom: 0.5em;
    word-wrap: break-word;
  }

  //----------------------------------------------------------------------------
  // Tweet footer

  > footer {
    margin-top: 0.5em;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    i {
      color: colors.$secondary;
      padding: 0 0.25em;

      &:hover {
        @include colors.highlight();
      }
    }
  }
}
