/*------------------------------------------------------------------------------
 * header.css
 */

body > header {
  width: 100%;
  background-color: teal;
  background-image: url('../images/cross-scratches.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header > h2 {
  font-weight: normal;
  margin-bottom: 0;
}

body > header > img {
  width: 200px;
  height: 200px;
  margin: 0 10px;
}
