/* layout.css */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  margin: 0 0 1em 0;
}
