/* new-tweet.css */

#new-tweet {
  padding: 0.5em;
  margin: 1em 0;
}

#error {
  border: 1px solid red;
  color: red;
  padding: 0.5em 1.5em;
  margin: 0 -0.5em 1em -0.5em;
  display: none;
  justify-content: space-between;
}

#new-tweet > label {
  width: 100%;
  font-style: italic;
}

#new-tweet > textarea {
  width: 100%;
  height: 2.75em;
  margin: 0.75em 0 0.5em 0;
  background-color: inherit;
  border-color: black;
  border-width: 0 0 1px 0;
  resize: none;
  outline: none;
}

#new-tweet > textarea:hover,
#new-tweet > textarea:focus {
  border-width: 0 0 2px 0;
}

#new-tweet > footer {
  width: 100%;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#new-tweet > footer > button {
  padding: 0.25em 0.5em;
  color: #ffffff;
  background-color: #4056a1;
  border: none;
}

#new-tweet > footer > button:hover {
  /* @todo customize with animations */
  color: red;
}

#new-tweet > footer > output.neg {
  color: red;
}
